.main {
  display: flex;
  flex-direction: column;
  padding-left: 12%;
  padding-right: 12%;
  gap: 8rem;
}

.main2 {
  display: flex;
  flex-direction: column;
  padding-left: 12%;
  padding-right: 12%;
  gap: 5rem;
}

.title {
font-size: 3rem;
margin-bottom: -5rem;
margin-top: -8rem;
}

.layout {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 3.5rem;

}

.layout2 {
  display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 1rem;
}

.image {
  width: 40vw;
  border-radius: 1rem;
  /* height: 45vh; */
}

.button {
background-color: #007481;
font-family: 'Raleway', sans-serif;
padding: 1.2rem 3.2rem;
border-radius: 8px;
border: none;
margin: 0.5rem 0rem;
}

.button a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.button:hover {
background-color: #A5E5D9;
transition-delay: 0.15s;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-right: -8%;
  justify-content: right;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  color: #A5E5D9;
}